:root {
    --beige:  #fad797;
    --black:  #000000;
    --blue:   #0099ff;
    --brown:  #8f5e05;
    --green:  #23c223;
    --red:    #df1313;
    --white:  #ffffff;
    --yellow: #ffc400;
    --transparent-black: #00000088;
    --transparent-white: #ffffff88;
}

.bg-beige  {background-color: var(--beige);}
.bg-black  {background-color: var(--black);}
.bg-blue   {background-color: var(--blue);}
.bg-brown  {background-color: var(--brown);}
.bg-green  {background-color: var(--green);}
.bg-red    {background-color: var(--red);}
.bg-white  {background-color: var(--white);}
.bg-yellow {background-color: var(--yellow);}

.bg-t-black {background-color: var(--transparent-black);}
.bg-t-white {background-color: var(--transparent-white);}

.border-black {border-color: var(--black);}

.text-black {color: var(--black);}
.text-red   {color: var(--red);}
.text-white {color: var(--white);}